<template>
  <div>
      <h1>Week3:Data and Databinding</h1>
      <hr>
      <databind></databind>
      <MethodView></MethodView>
  </div>
</template>

<script>
import databind from './components/databinding.vue';
import MethodView from './components/Methods.vue';
export default {
  name:'App',
    components :{
    databind,
    MethodView,
  },
};
</script>
